<ion-view view-title='CONTRATOS #4542112'>
  <ion-content scroll="false" class="text-center">


    <div class="list">
      <div class="item item-divider">
        <strong>Banco Estado</strong><br />
        <p>Desde el 25/05/2017 al 06/06/2017</p>
      </div>

      <a class="item" href="#" style="padding:0;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.361864318362!2d-70.61913178435093!3d-33.4919611807621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d006f53f86df%3A0x48c2f3b5d89da62!2sBanco+Estado!5e0!3m2!1ses-419!2scl!4v1496091114058" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </a>

      <div class="item item-divider">
        <strong>Informa tu estado hoy</strong><br />
      </div>
      
      <br /><br />
      <div style="padding:20px;">
        <p>Actualmente no puedes actualizar tu estado, por estar fuera del horario habilitado</p>
      </div>
      
    </div>


  </ion-content>
</ion-view>
