<ion-view view-title='CONTRATOS ACTIVOS'>
  <ion-content scroll="false" class="text-center">


    <div class="list">

        <a class="item item-thumbnail-left" href="#" ng-click="gotoActivo();">
          <img src="img/cover.jpg">
          <br /><h2>Contrato # 4542112</h2>
          <p>Desde el 25/05/2017 al 06/06/2017</p>
        </a>

        <a class="item item-thumbnail-left" href="#" ng-click="gotoInactivo();">
          <img src="img/cover.jpg">
          <br /><h2>Contrato # 4542049</h2>
          <p>Desde el 21/05/2017 al 22/06/2017</p>
        </a>
        
    </div>


  </ion-content>
</ion-view>
